h1{
    text-align: center;
    font-family: Cinzel,serif;
    text-transform: capitalize;

}
.container{
    background-color: white; 
}
.italic {
    font-style: italic;
}

.iframe-container{ 
    position: relative; width: 100%; padding-bottom: 56.25%; height: 0; 
    background-color: black;
} 
.iframe-container iframe{ 
    position: absolute; 
    top:0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}
