h1{
    font-family: GameOfThrones;
    text-transform: capitalize;
    text-emphasis-color: white;
    margin-bottom: 20px;
}
h5{
    font-family: Cinzel,serif;

}
.mainDiv{
    margin-top: 20px;
}
p.italic {
    font-style: italic;
}

.btn {
    background-color: gray;
    color: black;
}

    body {
        min-height: 100vh;
    }
    .flex-fill {
       flex: 1 1 auto;
    }  
    .bg { 
    background-image: url('../../assets/borderNEW.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }